.blog {
    padding-top: 70px;
    padding-bottom: 110px;
    text-align: center;

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
    }

    @media (max-width: 900px) {
        padding-bottom: 20px;
    }
}