.plans {
    padding-top: 50px;
    padding-bottom: 90px;
    background: $darkblue;
    text-align: center;

    .title {
        margin-bottom: 50px;
    }

    &__inner {
        display: flex;
        justify-content: center;
    }

    @media (max-width: 900px) {
        padding: 50px;
        padding-bottom: 20px;

        .prev {
            left: -20px;
        }

        .next {
            right: -20px;
        }
    }
}