.tools {
    background: $darkgray2 url("../../img/intro-bg.jpg") 50% 100% no-repeat;
    background-size: cover;

    .container {
        position: relative;
    }

    &__slider {
        width: 80%!important;
        margin: 0 auto;
        padding-top: 20px;
    }

    .prev {
        left:-60px;
    }

    .next {
        right: -55px;
    }
    
    &__slide {
        width: 220px;
        height: 220px;
        margin: 0 auto;
    }

    &__icon {
        display: block;
        width: 225px;
        height: 240px;
        margin: 0 auto;
        fill: $lightgray;

        &--river {
            height: 230px;
            margin-top: 20px;
        }

        &--videohive {
            height: 190px;
            margin-top: 25px;
        }
    }

    .owl-theme .owl-nav {
        height: 0;
    }
}