.tools {
    background: $darkgray2 url("../../img/intro-bg.jpg") 50% 100% no-repeat;
    background-size: cover;
    padding-bottom: 20px;

    .container {
        position: relative;
    }

    &__slider {
        width: 80%!important;
        margin: 0 auto;
        padding-top: 20px;
    }

    .prev {
        left:-60px;
    }

    .next {
        right: -55px;
    }
    
    &__slide {
        display: block;
        width: 220px;
        height: 220px;
        margin: 0 auto;
        padding-top: 90px;
        box-sizing: border-box;
    }

    &__icon {
        display: block;
        width: 225px;
        height: 40px;
        margin: 0 auto;
        fill: $lightgray;

        &--river {
            height: 65px;
        }

        &--videohive {
            height: 45px;
            margin-top: -5px;
        }
    }

    .owl-theme .owl-nav {
        height: 0;
    }
}