<footer class="main-footer">
    <div class="container">
        <svg class="main-footer__logo">
            <use xlink:href="img/sprite.svg#rocket"></use>
        </svg>
        <span class="main-footer__logo-text">boostfolia</span>
        <span class="main-footer__tagline">made with love by creativeproduct</span>
        <ul class="socials">
            <li class="socials__item">
                <a href="#" class="socials__link">
                    <svg class="socials__icon">
                        <use xlink:href="img/sprite.svg#twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="socials__item">
                <a href="#" class="socials__link">
                    <svg class="socials__icon">
                        <use xlink:href="img/sprite.svg#facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="socials__item">
                <a href="#" class="socials__link">
                    <svg class="socials__icon">
                        <use xlink:href="img/sprite.svg#instagram"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</footer>

<div class="overlay"></div>
<div class="popup">
    <div class="popup__image"></div>
    <div class="popup__content">
        <h4 class="popup__title">Creat creative & clean</h4>
        <p class="popup__text">
            Lorem ipsum elit. Saepe, ab!
            Lorem ipsum dolor sit. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo doloremque nobis 
            sequi beatae eaque adipisci commodi esse dolorum non in!
        </p>

        <p class="popup__text">
            Lorem ipsum elit. Saepe, ab!
            Lorem ipsum dolor sit. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo doloremque nobis 
            sequi beatae eaque Lorem ipsum dolor sit amet consectetur.
        </p>

        <p class="popup__text">
            Lorem ipsum elit. Saepe, ab!
            Lorem ipsum dolor sit. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo doloremque nobis 
            Lorem, ipsum.
        </p>
        <div class="popup__footer">
            <span class="popup__date">
                <svg class="popup__date-icon">
                    <use xlink:href="img/sprite.svg#clock"></use>
                </svg>
                25 jan 2015
            </span>
            <span class="popup__like">
                <svg class="popup__like-icon">
                    <use xlink:href="img/sprite.svg#like"></use>
                </svg>
                25
            </span>
            <span class="popup__comment">
                <svg class="popup__comment-icon">
                    <use xlink:href="img/sprite.svg#comment"></use>
                </svg>
                11
            </span>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.0/lazysizes.min.js"></script>

<script src="js/main.js"></script>