<footer class="main-footer">
    <div class="container">
        <svg class="main-footer__logo">
            <use xlink:href="img/sprite.svg#rocket"></use>
        </svg>
        <span class="main-footer__logo-text">boostfolia</span>
        <span class="main-footer__tagline">made with love by creativeproduct</span>
        <ul class="socials">
            <li class="socials__item">
                <a href="#" class="socials__link">
                    <svg class="socials__icon">
                        <use xlink:href="img/sprite.svg#twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="socials__item">
                <a href="#" class="socials__link">
                    <svg class="socials__icon">
                        <use xlink:href="img/sprite.svg#facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="socials__item">
                <a href="#" class="socials__link">
                    <svg class="socials__icon">
                        <use xlink:href="img/sprite.svg#instagram"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.0/lazysizes.min.js"></script>

<script src="js/main.js"></script>